{{ partial "header.html" . }}
<div class="container">
    <div class="row">
        <div class="jumbotron homepage shadow">
            <div class="col-md-8">
                <h1 class="display-4">{{ $.Site.Params.author }}</h1>
                <p class="lead">{{ $.Site.Params.description }}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <h1>Projects </h1>
    </div>
    <div class="row">
            <p class="text-muted">Complete products that fulfill the purpose they were made for. Their robustness is a different question.</p>
    </div>

    <div class="row">
        <div class="card-columns">
            {{ range where .Data.Pages "Type" "projects" }} {{ .Render "card" }} {{ end }}
        </div>
    </div>

    <hr />

    {{ partial "reference_code.html" . }}

</div>
{{ partial "footer.html" . }}