{{ partial "header.html" . }}
<div class="container">
    <div class="row">
        <div class="jumbotron homepage shadow">
            <div class="row">
            <div class="col-md-8">
                <h1 class="display-4">{{ $.Site.Params.author }}</h1>
                <p class="lead">
                    Manager Information Technology at Arizona State University, <br>
                    Consultant at Pathfinder Center, Biodesign institute. <br>
                    I know how to use a paper shredder.</p>
            </div>
            <div class="col-md-4">
                <p class="lead pt-4 text-right">
                    <a class="btn btn-secondary btn-lg shadow float-right" href="mailto:suhail.ghafoor@asu.edu" role="button"><i class="fa fa-envelope" aria-hidden="true"></i> Email</a>
                    <a class="btn btn-secondary btn-lg shadow float-right mr-3" href="documents/resume-7-24-19.pdf" role="button"><i class="fa fa-file-text" aria-hidden="true"></i> Download CV</a>
                </p>
            </div>
        </div>
        </div>
    </div>
    <div class="row">
        <h1>Projects </h1>
    </div>
    <div class="row">
            <p class="text-muted">Complete products that fulfill the purpose they were made for. Their robustness is a different question.</p>
    </div>

        <div class="row">
            {{ range where .Site.Pages "Type" "projects" }} {{ if gt (len .Content) 0 }} {{ .Render "card" }} {{ end }} {{ end }}
        </div>

    <hr />

    {{ partial "reference_code.html" . }}

</div>
{{ partial "footer.html" . }}