<div class="card shadow">
    <img class="card-img-top grayscale" src="/~saghafoo/thumbnails/{{ .Params.Thumbnail }}">
    <div class="card-body">
        <a href="{{ .Permalink }}"><h3 class="card-title">{{ .Title }}</h5></a>
        <h6 class="card-subtitle mb-2 text-muted">{{ .Params.Project_type }}</h6>
        {{ range .Params.Tech }}
            <span class="badge badge-primary tech {{ . }}">{{- . -}}</span>
        {{ end }}

        <p class="card-text mt-4">{{ .Params.Short_desc }}</p>
        <a href="{{ .Permalink }}" type="button" class="btn btn-primary">Info</a>
        {{ with .Params.Live }} 
            <a href="{{ . }}" type="button" class="btn btn-secondary">Live</a>
        {{ end }}
        {{ with .Params.Code }} 
            <a href="{{ . }}" type="button" class="btn btn-secondary">Code</a>
        {{ end }}
    </div>
</div>
