{{ partial "header.html" . }} 

<div class="container mt-4">
    <a href="{{ .Site.BaseURL }}" class="btn btn-primary"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back</a>
</div>

<div class="container greybg mt-3 pt-4 pl-4 pr-4 pb-4 shadow rounded">
    <div class="header">
        <h1 id="title" class="float-left pr-4">{{ .Title }} <small class="text-muted">{{ .PublishDate.Format "January, 2006" }}</small></h1>
        {{ with .Params.Live }} 
            <a href="{{ . }}" type="button" class="btn btn-primary float-left">Live</a>
        {{ end }}
        {{ with .Params.Code }} 
            <a href="{{ . }}" type="button" class="btn btn-primary float-left">Code</a>
        {{ end }}
    </div>
    <div class="clearfix"></div>
        <div class="badges mb-4">
            {{ range .Params.Tech }}
                <span class="badge badge-primary tech {{ . }}">{{- . -}}</span>
            {{ end }} 
        </div>
    
        
   
    <article id="content">
        {{ .Content }}
    </article>
</div>
{{ partial "footer.html" }}